.mac-book-pro-14-1,
.mac-book-pro-14-1 * {
  box-sizing: border-box;
}
.mac-book-pro-14-1 {
  background: #ffffff;
  height: 4910px;
  position: relative;
  overflow: hidden;
}
.rectangle-13 {
  background: #edf1f5;
  width: 1512px;
  height: 4591px;
  position: absolute;
  left: 0px;
  top: 319px;
}
.line-3 {
  margin-top: -1px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px 0 0 0;
  width: 1545px;
  height: 0px;
  position: absolute;
  left: -15px;
  top: 80px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, 1);
}
.rectangle-14 {
  background: #2a5c96;
  width: 1266px;
  height: 581px;
  position: absolute;
  left: 122px;
  top: 2841px;
}
.rectangle-12 {
  background: #51779c;
  width: 1512px;
  height: 637px;
  position: absolute;
  left: 0px;
  top: 2841px;
}
.rectangle-15 {
  background: #ffffff;
  width: 1512px;
  height: 1432px;
  position: absolute;
  left: 0px;
  top: 3478px;
}
.frame-2 {
  background: #003675;
  padding: 79px 152px 79px 152px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  width: 1512px;
  height: 319px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.frame-1 {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.layer-1 {
  flex-shrink: 0;
  width: 257px;
  height: 260px;
  position: relative;
  overflow: hidden;
}
.group {
  width: 65.8%;
  height: 68.89%;
  position: absolute;
  right: 34.2%;
  left: 0%;
  bottom: 24.25%;
  top: 6.85%;
  overflow: visible;
}
.clip-path-group {
  height: auto;
  position: absolute;
  left: 107.69px;
  top: 93.48px;
  overflow: visible;
}
._2023 {
  color: #ffffff;
  text-align: left;
  font-family: "NotoSans-DisplayExtraBold", sans-serif;
  font-size: 64px;
  font-weight: 400;
  position: relative;
  width: 871px;
  height: 374px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.frame-9 {
  background: #ffffff;
  padding: 0px 24px 0px 24px;
  width: 770px;
  height: 678px;
  position: absolute;
  left: 0px;
  top: 955px;
}
.div {
  color: #000000;
  text-align: left;
  font-family: "NotoSans-Bold", sans-serif;
  font-size: 24px;
  font-weight: 700;
  position: absolute;
  left: 149px;
  top: 0px;
  width: 472px;
  height: 56px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}
.layer-12 {
  width: 364px;
  height: 453px;
  position: absolute;
  left: 141px;
  top: 82px;
  overflow: hidden;
}
.rectangle {
  width: 100.52%;
  height: 101.15%;
  position: absolute;
  right: -0.52%;
  left: 0%;
  bottom: -1.15%;
  top: 0%;
  object-fit: cover;
}
._31-4-3-851-801-14-6-8-4-1-785-395-1-035-176-54-4-5-8-717-463-4-6-558-214-3-9-5-1-623-062-4-4-542-561-484-067 {
  color: #000000;
  text-align: left;
  font-family: "NotoSans-Medium", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  position: absolute;
  left: 521px;
  top: 82px;
  width: 224px;
  height: 453px;
}
.frame-8 {
  background: #ffffff;
  padding: 80px 24px 80px 24px;
  width: 742px;
  height: 693px;
  position: absolute;
  left: 770px;
  top: 955px;
}
._23-12 {
  color: #000000;
  text-align: left;
  font-family: "NotoSans-Medium", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  position: absolute;
  left: 0px;
  top: 84px;
  width: 596px;
  height: 77px;
}
.layer-13 {
  width: 576px;
  height: 371px;
  position: absolute;
  left: 10px;
  top: 161px;
  overflow: hidden;
}
.rectangle2 {
  width: 100.15%;
  height: 100.09%;
  position: absolute;
  right: -0.15%;
  left: 0%;
  bottom: -0.09%;
  top: 0%;
  object-fit: cover;
}
.group-2 {
  position: absolute;
  inset: 0;
}
.rectangle-4 {
  background: #e6eef1;
  width: 770.35px;
  height: 694.99px;
  position: absolute;
  left: 0px;
  top: 1632.68px;
}
.frame-7 {
  padding: 67px 11px 67px 11px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 616px;
  height: 868px;
  position: absolute;
  left: 139px;
  top: 1611px;
}
.div2 {
  color: #000000;
  text-align: left;
  font-family: "NotoSans-Bold", sans-serif;
  font-size: 24px;
  line-height: 24px;
  font-weight: 700;
  position: relative;
  width: 350px;
  height: 55px;
}
._2023-15-3-099-435-5-5 {
  color: #000000;
  text-align: left;
  font-family: "NotoSans-Medium", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  position: relative;
  width: 596px;
  height: 56px;
}
.group-1 {
  position: absolute;
  inset: 0;
}
.rectangle-3 {
  background: #e6eef1;
  width: 742px;
  height: 693px;
  position: absolute;
  left: 770px;
  top: 1633px;
}
.image {
  width: 598px;
  height: 1053px;
  position: absolute;
  left: 770px;
  top: 1568px;
  object-fit: cover;
}
._2023-1-042-493-5-0-14-3 {
  color: #000000;
  text-align: left;
  font-family: "NotoSans-Medium", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  position: absolute;
  left: 770px;
  top: 1756px;
  width: 594px;
  height: 80px;
}
.frame-10 {
  padding: 24px;
  width: 768px;
  height: 265px;
  position: absolute;
  left: 0px;
  top: 2326px;
}
.frame-6 {
  background: #ffffff;
  padding: 23px 21px 23px 21px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: flex-end;
  width: 768px;
  height: 516px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.layer-14 {
  flex-shrink: 0;
  width: 674px;
  height: 300px;
  position: relative;
  overflow: hidden;
}
.clip-path-group2 {
  height: auto;
  position: absolute;
  left: 103px;
  top: 23px;
  overflow: visible;
}
.div3 {
  color: #000000;
  text-align: left;
  font-family: "NotoSans-Bold", sans-serif;
  font-size: 24px;
  font-weight: 700;
  position: absolute;
  left: 150px;
  top: 26px;
  width: 348px;
  height: 55px;
}
._40-33-5-40-40-17-0-50-16-0 {
  color: #000000;
  text-align: left;
  font-family: "NotoSans-Regular", sans-serif;
  font-size: 16px;
  font-weight: 400;
  position: absolute;
  left: 150px;
  top: 103px;
  width: 574px;
  height: 136px;
}
.rectangle-7 {
  background: #ffffff;
  width: 744px;
  height: 515px;
  position: absolute;
  left: 768px;
  top: 2326px;
}
.layer-15 {
  width: 287px;
  height: 293px;
  position: absolute;
  left: 823px;
  top: 2512px;
  overflow: hidden;
}
.rectangle3 {
  width: 99.75%;
  height: 100.7%;
  position: absolute;
  right: 0.25%;
  left: 0%;
  bottom: -0.7%;
  top: 0%;
  object-fit: cover;
}
.div4 {
  color: #000000;
  text-align: left;
  font-family: "NotoSans-Bold", sans-serif;
  font-size: 24px;
  font-weight: 700;
  position: absolute;
  left: 792px;
  top: 2352px;
  width: 348px;
  height: 55px;
}
._68-3 {
  color: #000000;
  text-align: left;
  font-family: "NotoSans-Regular", sans-serif;
  font-size: 16px;
  font-weight: 400;
  position: absolute;
  left: 799px;
  top: 2431px;
  width: 315px;
  height: 136px;
}
.frame-5 {
  background: #a7c6e2;
  padding: 24px;
  width: 1512px;
  height: 636px;
  position: absolute;
  left: 0px;
  top: 319px;
}
.frame-3 {
  width: 1097px;
  height: 521px;
  position: absolute;
  left: 117px;
  top: 60px;
}
.frame-4 {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: flex-end;
  justify-content: center;
  position: absolute;
  left: 151px;
  top: 128px;
}
.layer-16 {
  flex-shrink: 0;
  width: 821px;
  height: 375px;
  position: relative;
  overflow: hidden;
}
.clip-path-group3 {
  height: auto;
  position: absolute;
  left: 0px;
  top: 0px;
  overflow: visible;
}
.layer-17 {
  flex-shrink: 0;
  width: 228px;
  height: 374px;
  position: relative;
  overflow: hidden;
}
.clip-path-group4 {
  height: auto;
  position: absolute;
  left: 0px;
  top: 0px;
  overflow: visible;
}
._2023-14-594-501-12-686-664-15-0-8-1 {
  color: #000000;
  text-align: left;
  font-family: "NotoSans-Medium", sans-serif;
  font-size: 16px;
  font-weight: 500;
  position: absolute;
  left: 58px;
  top: 42px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}
.div5 {
  color: #000000;
  text-align: left;
  font-family: "NotoSans-Bold", sans-serif;
  font-size: 24px;
  font-weight: 700;
  position: absolute;
  left: 175px;
  top: 24px;
  width: 608px;
  height: 60px;
}
.text {
  color: #ffffff;
  text-align: left;
  font-family: "NotoSans-Medium", sans-serif;
  font-size: 24px;
  font-weight: 500;
  position: absolute;
  left: 24px;
  top: 104px;
  width: 1215px;
  height: 58px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}
.div6 {
  color: #ffffff;
  text-align: left;
  font-family: "NotoSans-Bold", sans-serif;
  font-size: 24px;
  font-weight: 700;
  position: absolute;
  left: 148px;
  top: 2865px;
  width: 472px;
  height: 55px;
}
.div7 {
  color: #000000;
  text-align: left;
  font-family: "NotoSans-Bold", sans-serif;
  font-size: 24px;
  font-weight: 700;
  position: absolute;
  left: 148px;
  top: 3501px;
  width: 472px;
  height: 55px;
}
._62-1-7-1-6-9-3-8-3-1-2-2 {
  color: #ffffff;
  text-align: left;
  font-family: "NotoSans-Medium", sans-serif;
  font-size: 16px;
  font-weight: 500;
  position: absolute;
  left: 148px;
  top: 2944px;
  width: 1220px;
  height: 136px;
}
.image-1 {
  width: 1318px;
  height: 884px;
  position: absolute;
  left: 137px;
  top: 3020px;
  object-fit: cover;
}
.image-2 {
  width: 1185px;
  height: 1675px;
  position: absolute;
  left: 164px;
  top: 3246px;
  object-fit: cover;
}
